<?xml version="1.0"?>
<config>
    <modules>
        <GoMedia_Webhook>
            <version>0.1.0</version>
        </GoMedia_Webhook>
    </modules>
    <global>
        <models>
            <webhook>
                <class>GoMedia_Webhook_Model</class>
            </webhook>
        </models>
        <events>
            <sales_order_save_after>
                <observers>
                    <post_order>
                        <class>webhook/observer</class>
                        <method>postOrder</method>
                    </post_order>
                </observers>
            </sales_order_save_after>
        </events>
        <helpers>
            <webhook>
                <class>GoMedia_Webhook_Helper</class>
            </webhook>
        </helpers>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <webhook>
                                            <title>Webhook Module Section</title>
                                        </webhook>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>